.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-primary);
}
.brand {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.title{
    font-size: xx-large;
}
.copyright{
    font-size: large;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
}
.link{
    padding: 5px;
}
.link:hover {
    text-decoration: underline;
}   