.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-primary);
}
.brand {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.title{
    font-size: xx-large;
    text-align: center;
}
.copyright{
    font-size: large;
    text-align: center;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}
.link{
    padding: 5px;
}
.link:hover {
    text-decoration: underline;
}   
@media (width <= 1220px) {
    .brand {
        flex-direction: column;
    }
    @media (width <= 600px) {
        .links {
            flex-direction: column;
        }
    }
}