.main {
    display: flex;
    flex-direction: row;
}
.icon {
    flex: 1;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.searchBar {
    flex: 5;
    background: white;
    border: none;
    border-radius: 20px;
    align-items: center;
}
.info {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}