.main {
    min-height: 100vh;
}
.products{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
@media (width <= 1200px) {
    .products {
        grid-template-columns: auto auto;
    }
    @media (width <= 600px) {
        .products {
            grid-template-columns: auto;
        }
    }
}