.main {
    height: 100vh;
    display: flex;
}
.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}
.imageContainer {
    background-image: url("/login.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex: 4;
}
@media (width <= 1000px) {
    .imageContainer {
        display: none;
    }
}
.login {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: xx-large;
    text-align: center;
    flex: 1;
}
.space {
    color: transparent;
    background: var(--gradient-primary);
    background-clip: text;
    background-size: 300% 100%;
    animation: animateBg 2s infinite alternate-reverse;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    flex: 50;
}
.loginButton {
    cursor: pointer;
    width: 50%;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(59, 58, 114, 0.2), 0 6px 20px 0 rgba(34, 190, 170, 0.19);
    display: flex;   
}
.loginButton:hover {
    box-shadow: 0 8px 16px 0 rgba(59, 58, 114, 0.2), 0 12px 40px 0 rgba(34, 190, 170, 0.19);
}
.brand_icon_container {
    flex: 1 ;
}
.brand_icon {
    height: 30px;
    margin: 5px;
}
.loginTitle {
    flex: 5;
    font-size: xx-large;
}
@keyframes animateBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
