.main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.imageSection{
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
    width: 500px;
    height: 500px;
}
.vertical_divider{
    height: 100vh;
    color: rgb(242, 242, 242);
}
.horizontal_divider{
    width: 100%;
    color: rgb(242, 242, 242);
}
.details {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageIndicatorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textIndicator{
    font-size: x-large;
    padding: 5px;
}
.imageIndicator {
    background: none;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: larger;
    cursor: pointer;
}
.imageIndicator:hover {
    color: var(--background-primary);
}
.title {
    font-size: xxx-large;
    font-weight: bold;
    color: var(--title-color);
    margin: 10px;
    padding: 10px;
}
.title:hover {
    text-decoration: underline;
}
.descriptionContainer{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.descriptionTitle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;
    font-size: large;
}
.description {
    flex: 4;
}
.cartContainer {
    cursor: pointer;
    font-size: x-large;
    border-image-slice: 1;
    border-image-source: var(--border-gradient);
    border-width: 1px;
    border-style: solid;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartHolder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-around;*/
    justify-content: center;
}
.quantity {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    color: var(--primary-text-color);
}
.likeCartContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cartButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
}
.red_background {
    background: linear-gradient(90deg, red, transparent);
}
.green_background {
    background: linear-gradient(90deg, transparent, green);
}
.likeContainer {
    font-size: xxx-large;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}
.rightContainer {
    height: 100vh;
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
}
.upperContainer {
    width: 100%;
    /* flex: 1; */
}
.lowerContainer {
    overflow-y: scroll;
    /* flex: 1; */
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.floatingButton {
    position: fixed;
    z-index: 1;
    bottom: 5vh;
    right: 1vw;
    background-color: var(--background-primary);
    font-size: x-large;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(59, 58, 114, 0.2), 0 6px 20px 0 rgba(34, 190, 170, 0.19);
}
.floatingButton:hover {
    box-shadow: 0 8px 16px 0 rgba(59, 58, 114, 0.2), 0 12px 40px 0 rgba(34, 190, 170, 0.19);
}
.reviewDialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10%;
    background-color: var(--background);
}
.closeDialog {
    cursor: pointer;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--background-primary);
    margin: 5px;
}
.mainReviewDialog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background);
}
.leftDialogContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.rightDialogContainer {
    flex: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.lowerDialogContainer {
    width: 100%;
    height: 100%;
}
.middleDialogContainer {
    width: 100%;
    height: 100%;
}
.upperDialogContainer {
    width: 100%;
    height: 100%;
}
.input {
    width: 100%;
    height: 100%;
    background-color: var(--background);
}
.reviewSubmit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
.button {
    background-color: var(--background-primary);
    font-size: xx-large;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
}
@media (width <= 1000px) {
    .main {
        flex-direction: column;
    }
    .imageSection {
        width: 100%;
        height: 50%;
    }
    .details {
        width: 50%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vertical_divider{
        display: none;
    }
    .horizontal_divider{
        display: none;
    }
    .details {
        width: 100%;
    }
    @media (width <= 500px) {
        .image {
            width: 400px;
            height: 400px;
        }
    }
    @media (width <=450px) {
        .image {
            width: 300px;
            height: 300px;
        }
    }
}